{% extends "layout.html" %}

{% block body %}
<section id="Inicio" class="home-page">
	<div class="container-fluid">
		<div id="jumbo" class="jumbotron jumbotron-fluid">
			<h1 class="display-4 text-center">Miguel Angel Hernández Melo</h1>
			<p class="lead text-center">Petroleum Engineer, Designer, UI Developer </p>
			<p class="lead font-weight-normal text-center blockquote">“Knowing your own ignorance is the first step to enlightenment.”
			― Patrick Rothfuss, The Wise Man's Fear</p>
				<div class="social text-center">
						<a href="https://twitter.com/miguelhemmm " class="social-link twitter " target="_blank"></a>
						<a href="https://facebook.com/miguelhemmm " class="social-link facebook " target="_blank"></a>
						<a href="https://github.com/miguelhemmm " class="social-link github " target="_blank"></a>
						<a href="https://instagram.com/miguelhemmm " class="social-link instagram " target="_blank"></a>
						<a href="https://www.linkedin.com/in/miguelhem" class="social-link linkedin" target="_blank"></a>
						</div>
					</div>
				</div>
		</section>
{% endblock %}